h1 {
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

body {
    text-align: center;
}

table {
    border: 3px solid black;
    border-collapse: collapse;
    justify-content: center;
}

.navbar {
    display:flex;
    list-style-type: none;
    justify-content: center;
}

.navbutton {
    display: inline-block;
    padding: 12px;
    background-color: white;
    border-width: 2px;
    border-style: hidden;
    border-radius: 50px;
    text-decoration: none;
}

ul {
    text-align: center;
    list-style-type: none;
}

#main {
    display: flex;
    align-items: flex-start;
}

#suurimmatkaupungit, #tietopaketti {
    width: 45%;
    height: auto;
    background-color: darkblue;
    border-width: 0px;
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
    display: inline-block;
}

img {
    max-width: 100%;
    max-height: 100%;
}